@import "~bootstrap/scss/bootstrap";

.main {
  min-height: 100vh;

  .yolo-row {
    @extend .row;
    @extend .d-flex;
    @extend .align-items-stretch;

    .yaml-editor {
      @extend .col-sm-4;
      @extend .bg-light;
      @extend .d-flex;
      @extend .align-items-stretch;

      min-height: 100vh;

      textarea {
        @extend .mt-3;
        @extend .mb-3;

        width: 100%;
        border: 0;
        outline: none;
        resize: none;
        background-color: transparent;
      }
    }

    .visualization {
      @extend .col-sm-8;

      .network {
        @extend .border;
        @extend .border-info;
        @extend .rounded;
        @extend .p-2;

        background: rgba($color: $info, $alpha: 0.6);

        .subnets {
          @extend .row;

          .subnet {
            @extend .border;
            @extend .border-white;
            @extend .rounded;
            @extend .p-2;

            background: rgba($color: #fff, $alpha: 0.2);
          }
        }
      }
    }
  }
}
